.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@media screen and (max-width: 960px) {
  .app-container {
    align-items: initial !important;
    flex-direction: column;
    height: auto !important;
  }

  ::ng-deep .cdk-overlay-pane {
    width: 100% !important;
  }
}
