.app-container {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  height: 100vh;
  box-sizing: border-box;

  .content {
    width: 100%;
    box-sizing: border-box;
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}
@media screen and (max-width: 960px) {
  .content {
    align-items: initial !important;
    flex-direction: column;
    height: auto !important;
  }

  ::ng-deep .cdk-overlay-pane {
    width: 100% !important;
  }
}
